@import url("/src/css/bootstrap.css");
@import url("/src/css/bootstrap-icons.css");

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.hidden{
    /* visibility: hidden; */
    display: none;
}